h1 {
    font-family: Helvetica;
    font-size: 36px;
    color: #FFFFFF;
    margin: auto;
}

span {
    width: 378px;
    height: 545px;
    background-color: blue;
    display: block;
}

div {
    padding: 0;
    margin: 0;
    margin: auto;
}

div:nth-child(1) {
    width: 350px;
    height: 127px;
    background-color: #E67676;
}

div:nth-child(2) {
    width: 350px;
    height: 127px;
    background-color: #F2F062;
}

div:nth-child(3) {
    width: 350px;
    height: 127px;
    background-color: #A9E6E6;
}

div:nth-child(4) {
    width: 350px;
    height: 127px;
    background-color: #7692E4;
}
