@model BankOfSimba.Models.BankAccount
@{
    <table style="width:100%">
        <tr>
            <td>@Model.Name</td>
            <td>@Model.Balance</td>
            <td>@Model.AnimalType</td>
        </tr>
    </table>
}
