@model FoxManager.ViewModels.BaseViewModel

<h4>Add Tasks</h4>
<form action="/addtask/@Model.HomeViewModel.CurrentStudent.Name" method="post">
    <div class="form-group">
        <label>Task</label>
        <input type="text" class="form-control" name="taskname">
    </div>
    <div class="form-group">
        <label>Due date</label>
        <input type="text" class="form-control" name="duedate">
    </div>
    <div class="form-group">
        <label>Priority level</label>
        <input type="text" class="form-control" name="prioritylevel">
    </div>
    <button type="submit" class="btn btn-default">Add</button>
</form>
