@model FoxManager.ViewModels.BaseViewModel
<h3>Classes</h3>
<table class="table table-condensed">
    @foreach (var classes in Model.ClassViewModel.AllClass)
            {
        <tr>
            <th>@classes.ClassName<br /><p>@classes.Technology</p></th>
            <th>
                <a class="btn btn-default" href="/classinfo/@Model.ClassViewModel.CurrentStudent.Name/@classes.Id" role="button">
                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                </a>
            </th>
            <th>
                <a class="btn btn-default" href="/deleteclass/@Model.ClassViewModel.CurrentStudent.Name/@classes.Id" role="button">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                </a>
            </th>
        </tr>
            @foreach (var student in Model.ClassViewModel.AllStudent.Where(c => c.Class.ClassName == classes.ClassName).ToList())
            {
                <tr>
                    <td>@student.Name</td>
                    <td></td>
                    <td></td>
                </tr>
            }
    }
</table>

