@model FoxManager.ViewModels.BaseViewModel
<nav class="navbar navbar-default">
    <div class="bg-success text-white">
        <div class="container">
            <ul class="nav navbar-nav">
                <li><a class="navbar-brand" href="/home/@Model.CurrentStudent.Name">Home</a></li>
                <li><a class="navbar-brand" href="/teams/@Model.CurrentStudent.Name">Teams</a></li>
                <li><a class="navbar-brand" href="/classes/@Model.CurrentStudent.Name">Classes</a></li>
            </ul>
            <div class="navbar-btn navbar-right">
                <button type="button" class="btn btn-default navbar-btn" data-toggle="modal" data-target="#exampleModal">Add New Team </button>
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="exampleModalLabel">New Task</h4>
                            </div>
                            <div class="modal-body">
                                <form action="/addteam/@Model.TeamViewModel.CurrentStudent.Name" method="post">
                                    <div class="form-group">
                                        <label for="recipient-name" class="control-label">Add new team:</label>
                                        <input type="text" class="form-control" name="teamname">
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" value="submit" class="btn btn-success">Add</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-default navbar-btn" data-toggle="modal" data-target="#updateModal">Edit Team</button>
                <div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="exampleModalLabel">Update Task</h4>
                            </div>
                            <div class="modal-body">
                                <form action="/updateteam/@Model.TeamViewModel.CurrentStudent.Name" method="post">
                                    <div class="form-group">
                                        <select name="id" class="form-control">
                                            @foreach (var team in Model.TeamViewModel.AllTeams)
                                            {
                                            <option value="@team.Id">@team.TeamName</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="recipient-name" class="control-label">Team:</label>
                                        <input type="text" class="form-control" name="teamname">
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" value="submit" class="btn btn-success">Update</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>

