@model FoxManager.Models.TaskClass

<tr>
    <td>@Model.TaskName</td>
    <td>@Model.DueDate</td>
    <td>@Model.PriorityLevel</td>
    <td>
    <button type="button" class="btn btn-default" aria-label="Left Align">
    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
    </button>
    </td>
</tr>
