body {
    margin: 0;
}

.back {
    background-color: #DCD6CD;
    width: 820px;
    height: 900px;
    box-sizing: border-box;
    margin: auto;
    padding-top: 10px;
}

.main {
    background-color: #DCD6CD;
    width: 625px;
    height: 780px;
    margin: auto;
    padding-top: 12px;
    box-sizing: border-box;
}

header {
    background-color: #DCD6CD;
    width: 100%;
    height: 43px;
}

h1 {
    margin: 0;
}

.content1 {
    background-color: blue;
    width: 100%;
    height: 437px;
    box-sizing: border-box;
    margin: auto;
    margin-top: 17px;
}

.personal {
    background-color: yellow;
    width: 312.5px;
    height: 437px;
    float: left;
}

.contact {
    background-color: olive;
    width: 312.5px;
    height: 437px;
    float: right;
}

.content2 {
    background-color: rebeccapurple;
    width: 625px;
    height: 250px;
    margin-top: 16px;
}

/********************************************all*********************/
* {
    font-family: sans-serif;
}
/********************************************header******************/
h1, h2 {
    font-weight: lighter;
}

h1 {
    color: #4A4261;
}
 /*******************************************personal****************/
input[type="text"] {
    display: block;
    width: 298px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid gray;
    margin: auto;
}

input[type="number"] {
    display: block;
    width: 80px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid gray;
}

.radio-button {
    display: block;
    padding-top: 10px;
}

.born-sex {
    width: 100%;
    height: 62px;
    margin: auto;
}

.born {
    height: 62px;
    float: left;
    display: block;
}

.sex {
    height: 62px;
    float: right;
    padding-right: 30px;
}

.label-sex {
    margin: 0px;
}

.checkbox {
    display: block;
    width: 100%;
    height: 135px;
}

.checkbox-left {
    width: 100px;
    height: 135px;
    float: left;
    padding-left: 10px;
}

.checkbox-right {
    width: 100px;
    height: 135px;
    float: right;
    padding-right: 50px;
}

.checkbox-style {
    font-size: 14px;
}

input[type="checkbox"] {
    width: 16px;
    height: 16px;
}

.note {
    margin: 0px;
    padding-top: 10px;
    padding-left: 10px;
    font-size: 16px;
    color: #B4B0AA;
}


/*******************************************contact*****************/
.form2 {
    margin: auto;
}
h2 {
    width: 298px;
    height: 40px;
    background-color: #938C97;
    margin: auto;
    border-radius: 5px;
    font-size: 20px;
    color: #FFFFFF;
    padding: 10px;
    margin-bottom: 0px;
    box-sizing: border-box;
}

input[type="tel"],
input[type="email"],
input[type="url"],
select[id="house"] {
    display: block;
    width: 298px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid gray;
    margin: auto;
}

.form2 label {
    padding-bottom: 10px;
}

.label-style {
    font-weight: bold;
    font-size: 14px;
    line-height: 40px;
    color: #4A4261;
    padding-left: 10px;
}
/*******************************************content2****************/
#intro {
    width: 600px;
    height: 100px;
    margin: auto;
}

.int > .placeholder {
    
}

.cv > input[type="button"] {
    padding: 6px 40px;
    background-color: #EBEBEB;
    color: #4A4261;
    border-radius: 5px;
    text-transform: uppercase;
    display: block;
    margin-left: 10px;
}

.conditions > input[type=checkbox] {
    margin-left: 10px;
}

.check-terms {
    font-size: 14px;   
}

.conditions {
    padding-top: 5px;
}

a {
    text-decoration-style: red;
    color: paleturquoise;
}
/*******************************************footer******************/
input[type="submit"] {
    padding: 13px 70px;
    text-transform: uppercase;
    background-color: #4F4667;
    color: #DCD6CD;
    border-radius: 5px;
    margin-left: 10px;    
}

input[type="reset"] {
    padding: 15px 24px;
    text-transform: uppercase;
    background-color: #FCFCFC;
    color: #D1D0D6;
    border-radius: 5px;
}

.buttons {
    width: 100%;
    height: 103px;
    margin-top: 20px;
}

.save {
    float: left;
}

.delete {
    float: right;
}