@model IndexModel
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Register page</title>
</head>
<body>
    <form action="adduser" method="post">
        <h4>Username</h4>
        <input type="text" name="username" />
        <h4>Password</h4>
        <input type="text" name="password" />
        <input type="text" name="password" />
        <input type="submit" value="add" />
    </form>
</body>
</html>
