@model FoxManager.ViewModels.BaseViewModel
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_NavbarPartialView", Model)
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-2">
        @Html.Partial("_AddClassPartialView", Model)
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-2">

    </div>
</div>
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        @Html.Partial("_ClassesAndStudentsTablePartialView", Model)
    </div>
</div>
<div class="col-md-2"></div>
