@model Reddit.ViewModels.HomeViewModel
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Add posts</title>
    <meta lang="en" charset="utf-8" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <form action="add" method="post">
        <p>Content:</p>
        <input type="text" name="content" />
        <input type="hidden" name="username" value="@Model.User.Username" />
        <input type="submit" value="Submit" />
    </form>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
