@model Reddit2.ViewModels.PostViewModel
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Add Post</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <meta charset="utf-8" lang="en" />
</head>
<body>
    <p>Hi @Model.User.UserName</p>
    <h2 class="text-center">Content</h2>
    <br />
    <div class="col-xs-6 col-md-2"></div>
        <div class="col-xs-6 col-md-8">
            <form action="add/@Model.User.UserName" method="post">
                <textarea class="form-control" rows="15" name="Content"></textarea>
                <br />
                <button type="submit" class="btn btn-success">Submit</button>
            </form>
        </div>
    <div class="col-xs-6 col-md-2"></div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
