@model Reddit.ViewModels.HomeViewModel
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Reddit</title>
    <meta lang="en" charset="utf-8" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <p>Hello @Model.User.Username</p>
    <form action="/createpost" method="get">
        <input type="submit" value="add new post" />
        <input type="hidden" name="username" value="@Model.User.Username" />
        <a href="/createpost">Add new post</a>
        </form>
    <h1>Posts</h1>
    <form action="/score_add" method="post">
        <table>
            <tr>
                <th>SCORE</th>
                <th>Actions</th>
                <th>Content</th>
            </tr>
            @if (Model.Post.Count == 0)
            {
                <tr>
                    <td>No posts</td>
                </tr>
            }
            else
            {
                @foreach (var element in Model.Post)
                {
                    <tr>
                        <td>@element.Score</td>
                        <td><input type="button" name="score" /></td>
                        <td><input type="button" name="score" formaction="/score_decrease" /></td>
                        <td>@element.Content</td>
                    </tr>

                }
            }
        </table>
    </form>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
