@model Quiz.ViewModel.QuizViewModel
<DOCTYPE! html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Quiz game</title>
    </head>
    <body>
        <h1>The Quiz Game</h1>
        <a href="/question">Add a Question</a>
        <a href="/quiz">Start a Quiz</a>
        <p>@Model.Score</p>
    </body>
</html>
