@model TodoSQL.ViewModels.EditUserViewModel
<html>
<head>
    <meta charset="UTF-8" lang="en">
    <title>User</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
        <h1>Edit todo</h1>
        <form class="form-group" action="/@Model.CurrentUser.UserId/edituser/updateuser" method="post">
            <h4>Name</h4>
            <select name="name" class="form-control">
                @foreach (var item in Model.AllUser)
            {
                    <option>@item.Name</option>
                }
            </select>
            <h4>Email</h4>
            <input class="form-control" type="text" name="email" />
            <input type="hidden" name="userid" value="@Model.CurrentUser.UserId" />
            <br />
            <input class="btn btn-success" type="submit" value="Submit" />
            <a href="/list">Cancel</a>
        </form>
        </div>
        <div class="col-md-2"></div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
