@model FoxManager.ViewModels.BaseViewModel
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml"; 
}
@Html.Partial("_NavbarHomePartialView", Model)
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-5">
        @Html.Partial("_CurrentStudentsTasksTablePartialView", Model)
    </div>
    <div class="col-md-5">
        @Html.Partial("_CurrentStudentsTeamsTasksPartialView", Model)
    </div>
    <div class="col-md-1"></div>
</div>
