@model GreetSomeone.Models.GreetModel
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Personal Info</title>
    <link rel="stylesheet" type="text/css" href="~/style.css">
</head>
    <body>
        <p>Heey @Model.Name !</p>
    </body>
</html>
