@model Anagram.Models.AnagramModel
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Personal Info</title>
    <link rel="stylesheet" type="text/css" href="~/style.css">
</head>
    <body>
        <form action="add" method="post">
            <input type="text" name="FirstWord" />
            <input type="text" name="SecondWord" />
            <input type="submit" value="Submit" />
        </form>
    </body>
</html>
