@model FoxClub.Models.Fox
<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>
    <h1>Welcome to Programmer Fox Club!</h1>
    <p>Please provide a name, so you can associate it to your pet!</p>
    <form action="login" method="post">
        <p>Name</p>
        <input type="text" name="Name" />
        <input type="submit" value="GO" />
    </form>
</body>
</html>
